<div class="topnavbar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">

            <div class="navbar-header">
                <!--<input class="form-control input-sm" type="number" />-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/Default.aspx">英単語キュレーション</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menuitem" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">掲示板<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menuitem"><a href="http://127939.peta2.jp/1314108.html" target="_blank">自由掲示板</a></li>
                            <li class="menuitem"><a href="https://wordchunkblog.wordpress.com/" target="_blank">開発掲示板</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>