.wordtable {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    /*fixed height*/
    max-height: 350px;
    max-width: 100%;
    overflow: auto;
}

    .wordtable table {
        border-radius: 5px;
    }

        .wordtable table td {
            font-size: 12px;
        }

        .wordtable table tbody td {
            border-right: 1px dashed gray;
        }

            .wordtable table tbody td:hover {
                background-color: lightcoral;
            }

.word-table-pagenation {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: -20px 0px -45px 0px;
}

.tableArea {
    border: 5px solid lightcoral;
    border-radius: 5px;
}