.wordinfo {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    /*flex box*/
    display: flex;
    /*fixed height*/
    line-height: 35px;
    max-height: 40px;
    overflow: auto;
}

.word {
    font-size: 40px;
    flex-basis: 50%;
}

.sound {
    flex-basis: 10%;
    text-align: center;
}

.phonetic {
    font-size: 20px;
    flex-basis: 40%;
    text-align: center;
}