<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news" ng-show="articleContainer.articleInfoList.length !== 0">
    <span class="newstitle">
        <span translate="WORDDETAILE.NEWSTITLE" ng-cloak />
        <div ng-repeat="articleInfo in articleContainer.articleInfoList">
            <div class="flex-news-container1">
                <div class="flex-item1">
                    <a href={{articleInfo.url}} target="_blank">
                        <img ng-src={{articleInfo.thumnailurl}} class="img-thumbnail articleimg" />
                    </a>
                </div>
                <div class="flex-item2">
                    <div class="flex-news-container2">
                        <div class="flex-item1">
                            <a href={{articleInfo.url}} target="_blank">{{articleInfo.title}}</a>
                        </div>
                        <div class="flex-item2">
                            <span ng-bind-html="articleInfo.extractedContents" />
                        </div>
                        <div class="flex-item3">
                            <div class="flex-news-container3">
                                <div class="flex-item1">
                                    {{articleInfo.time}}
                                </div>
                                <div class="flex-item2">
                                    <a href="http://edition.cnn.com/" target="_blank">
                                        CNN.com
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>