<div class="topnavbar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/Default.aspx">&nbsp;<span translate="TITLE" ng-cloak /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="NAV.LOW" ng-cloak /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="n in range(1,10)"><a class="btn-select" ng-click="levelSearch('WORDLEVEL' + n)">LEVEL&nbsp;{{n}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="NAV.MIDDLE" ng-cloak /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="n in range(11,20)"><a class="btn-select" ng-click="levelSearch('WORDLEVEL' + n)">LEVEL&nbsp;{{n}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="NAV.HIGH" ng-cloak /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="n in range(21,30)"><a class="btn-select" ng-click="levelSearch('WORDLEVEL' + n)">LEVEL&nbsp;{{n}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle menuitem" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="NAV.DASHBOARD.TOP" ng-cloak /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menuitem"><a href="http://127939.peta2.jp/1314108.html" target="_blank"><span translate="NAV.DASHBOARD.FREE" ng-cloak /></a></li>
                            <li class="menuitem"><a href="https://wordchunkblog.wordpress.com/" target="_blank"><span translate="NAV.DASHBOARD.DEVELOPMENT" ng-cloak /></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle menuitem" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="NAV.LANG" ng-cloak /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menuitem"><a ng-click="changeLang('en')">English</a></li>
                            <li class="menuitem"><a ng-click="changeLang('ja')">日本語</a></li>
                            <li class="menuitem"><a ng-click="changeLang('ko')">한국어</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>