.topnavbar .logo {
    font-family: 'Malgun Gothic';
    font-weight: bold;
    font-size: 25px;
}

.topnavbar .menuitem {
    font-family: 'Malgun Gothic';
    font-weight: bold;
    font-size: 15px;
}